<div id="main_homepage" class="w-full m-10 flex space-x-10">
  <div class="w-[65%] space-y-4">
    <div class="h-[50vh] bg-neutral-900 rounded-md relative">
      <img
        class="w-full h-full object-cover rounded-md"
        src="static/img/banner2.jpeg"
        alt="Background Image"
      />
      <div class="absolute inset-0 bg-black bg-opacity-30 flex items-center">
        <div
          class="absolute start-5 top-5 text-white bg-black bg-opacity-80 w-[45%] h-[22vh] rounded-lg hover:bg-opacity-85 cursor-pointer"
        >
          <div class="m-5">
            <h2 class="text-xl my-3 font-bold">
              RTX 4090 - The Apex of Graphics! Track the Best Gaming GPU price
              in the Market Right Now!
            </h2>
            <p class="font-thin">
              This processor masterpiece has become the holy grail for gamers.
              Since its release, it's has been completly sold out of the market.
            </p>
            <div class="flex justify-between my-3 mr-5">
              <p class="font-thin text-gray-400 pt-3">
                Recent Prices from: 345€
              </p>
              <button
                type="button"
                class="text-gray-100 bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center"
              >
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
                <span class="sr-only">Icon description</span>
              </button>
            </div>
          </div>
        </div>
        <div class="h-full">
          <div
            class="absolute end-5 top-5 text-gray-200 bg-neutral-950 bg-opacity-90 w-[27%] h-[14vh] rounded-lg hover:bg-slate-950 hover:mx-1 cursor-pointer"
          >
            <div class="m-4 flex">
              <img
                src="/static/img/iph.jpeg"
                class="object-cover rounded-md w-24 opacity-80"
                alt="iphone"
              />
              <div class="relative mx-2">
                <span class="text-lg">Apple iPhone 15 Pro Max (256 Go)</span>
                <div
                  class="absolute flex font-light text-blue-500 bottom-0 space-x-1"
                >
                  <span>A partir de: 989€</span>
                  <span>🔥</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="absolute end-5 top-[36%] text-white bg-neutral-950 bg-opacity-90 w-[27%] h-[14vh] rounded-lg hover:bg-slate-950 hover:mx-1 cursor-pointer"
          >
            <div class="m-4 flex">
              <img
                src="/static/img/sonyps.jpg"
                class="object-cover rounded-md w-24 opacity-80"
                alt="iphone"
              />
              <div class="relative mx-2">
                <span class="text-lg"
                  >Sony PS5 White 825 Gb Digital Edition</span
                >
                <div
                  class="absolute flex font-light text-blue-500 bottom-0 space-x-1"
                >
                  <span>A partir de: 389€</span>
                  <span>🔥</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="absolute end-5 bottom-5 text-white bg-neutral-950 bg-opacity-90 w-[27%] h-[14vh] rounded-lg hover:bg-slate-950 hover:mx-1 cursor-pointer"
          >
            <div class="m-4 flex">
              <img
                src="/static/img/aw.jpg"
                class="object-cover rounded-md w-24 opacity-80"
                alt="iphone"
              />
              <div class="relative mx-2">
                <span class="text-lg"
                  >Alan Wake II Deluxe Edition Xbox Series X</span
                >
                <div
                  class="absolute flex font-light text-blue-500 bottom-0 space-x-1"
                >
                  <span>A partir de: 59.9€</span>
                  <span>📉</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-xl text-white">Popular Categories</div>
    <div class="flex space-x-5 justify-between">
      <div class="w-[47%] space-y-3">
        <div
          class="h-[8vh] bg-neutral-900 rounded-md bg-opacity-70 hover:bg-slate-950 hover:mx-1 hover:mb-1 cursor-pointer"
        >
          <div class="flex">
            <div class="m-2 mx-5 flex h-full">
              <img
                class="w-14 rounded-full"
                src="static/img/phone.jpg"
                alt="Default avatar"
              />
            </div>
            <div class="m-2.5 h-full text-white">
              <p>Smartphones & Accessories</p>
              <p class="text-gray-500">
                Brands: Apple, Xiaomi, Samsung, Google
              </p>
            </div>
          </div>
        </div>
        <div
          class="h-[8vh] bg-neutral-900 rounded-md bg-opacity-70 hover:bg-slate-950 hover:m-1 cursor-pointer"
        >
          <div class="flex">
            <div class="m-2 mx-5 flex h-full">
              <img
                class="w-14 rounded-full"
                src="static/img/ic.jpg"
                alt="Default avatar"
              />
            </div>
            <div class="m-2.5 h-full text-white">
              <p>CPU Processors & Components</p>
              <p class="text-gray-500">Brands: Intel Core Series, Amd Ryzen</p>
            </div>
          </div>
        </div>
        <div
          class="h-[8vh] bg-neutral-900 rounded-md bg-opacity-70 hover:bg-slate-950 hover:m-1 cursor-pointer"
        >
          <div class="flex">
            <div class="m-2 mx-5 flex h-full">
              <img
                class="w-14 rounded-full"
                src="static/img/gpuu.jpg"
                alt="Default avatar"
              />
            </div>
            <div class="m-2.5 h-full text-white">
              <p>GPU Graphics Processors & Components</p>
              <p class="text-gray-500">
                Brands: Nvidia GeForce, ASUS, MSI, Gigabite
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[47%] space-y-3">
        <div
          class="h-[8vh] bg-neutral-900 rounded-md bg-opacity-70 hover:bg-slate-950 hover:mx-1 hover:mb-1 cursor-pointer"
        >
          <div class="flex">
            <div class="m-2 mx-5 flex h-full">
              <img
                class="w-14 rounded-full"
                src="static/img/conso.jpg"
                alt="Default avatar"
              />
            </div>
            <div class="m-2.5 h-full text-white">
              <p>Videogame Consoles, Games & Accessories</p>
              <p class="text-gray-500">Brands: Sony, Xbox, Nintendo</p>
            </div>
          </div>
        </div>
        <div
          class="h-[8vh] bg-neutral-900 rounded-md bg-opacity-70 hover:bg-slate-950 hover:m-1 cursor-pointer"
        >
          <div class="flex">
            <div class="m-2 mx-5 flex h-full">
              <img
                class="w-14 rounded-full"
                src="static/img/mob.jpg"
                alt="Default avatar"
              />
            </div>
            <div class="m-2.5 h-full text-white">
              <p>Motherboards & Components</p>
              <p class="text-gray-500">Brands: Gigabite, MSI, Asus, AS Rock</p>
            </div>
          </div>
        </div>
        <div
          class="h-[8vh] bg-neutral-900 rounded-md bg-opacity-70 hover:bg-slate-950 hover:m-1 cursor-pointer"
        >
          <div class="flex">
            <div class="m-2 mx-5 flex h-full">
              <img
                class="w-14 rounded-full"
                src="static/img/hp.jpg"
                alt="Default avatar"
              />
            </div>
            <div class="m-2.5 h-full text-white">
              <p>Headphones & Sound</p>
              <p class="text-gray-500">
                Brands: Boose, Apple, Sony, Audio Technica
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[28%] space-y-6 text-white">
    {% include 'components/ticker_hotdealsdaily.html' %} {% include
    'components/ticker_recentdaily.html' %} {% include
    'components/ticker_watchlistdaily.html' %}
  </div>
</div>
