<div
  class="w-[13rem] hover:w-[13.2rem] max-w-sm bg-black bg-opacity-30 border border-gray-800 rounded-md shadow cursor-pointer my-3 overflow-hidden animate-pulse"
>
  <a href="" class="flex flex-col h-full">
    <div class="m-2 flex flex-col h-full">
      <div
        class="aspect-square flex items-center justify-center h-48 mb-4 bg-gray-700 rounded-sm"
      >
        <svg
          class="w-10 h-10 text-gray-600"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 20"
        >
          <path
            d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"
          />
          <path
            d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"
          />
        </svg>
      </div>

      <div class="px-1 flex flex-col flex-grow">
        <div class="h-4 bg-gray-700 rounded w-3/4 mb-2"></div>
        <div class="h-4 bg-gray-700 rounded w-full mb-2"></div>

        <div class="mt-auto">
          <div class="flex items-center mt-2.5 mb-2 justify-between">
            <div class="h-4 bg-gray-700 rounded w-1/4"></div>
            <div class="h-4 bg-gray-700 rounded w-1/4"></div>
          </div>
          <div class="flex items-center justify-between mb-2">
            <div class="h-6 bg-gray-700 rounded w-1/3"></div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
