<div class="h-[26vh] bg-neutral-900 rounded-md bg-opacity-70">
  <div class="flex">
    <div class="m-3 mx-4 space-y-3 w-[87%]">
      <p class="text-xl">Hot Deals of the day 🔥</p>
      <!-- cards -->

      <div class="flex justify-between">
        <div class="flex space-x-5">
          <img
            class="w-12 h-12 object-cover"
            src="/static/img/tosh.webp"
            alt=""
          />
          <div class="text-sm m-1">
            <p>Toshiba 75-inch C350 4K Fire TV</p>

            <p>€449.99 <span class="text-red-500 mx-1">(save €200)</span></p>
          </div>
        </div>
        <div class="">
          <button
            class="relative inline-flex text-gray-200 items-center justify-center p-0.5 m-1 ml-5 overflow-hidden text-xs text-gray-300 rounded-lg group bg-gradient-to-br from-cyan-800 to-blue-800"
          >
            <span
              class="uppercase relative px-2 py-1.5 transition-all ease-in duration-75 bg-gray-900 rounded-md hover:bg-black"
            >
              get deal
            </span>
          </button>
        </div>
      </div>
      <!-- card2 -->
      <div class="flex justify-between">
        <div class="flex space-x-5">
          <img
            class="w-12 h-12 object-cover"
            src="/static/img/vivanovo.webp"
            alt=""
          />
          <div class="text-sm m-1">
            <p>Asus Vivobook Pro QLED, 16-inch</p>

            <p>€1,299.99 <span class="text-red-500 mx-1">(save €500)</span></p>
          </div>
        </div>
        <div class="">
          <button
            class="relative inline-flex text-gray-200 items-center justify-center p-0.5 m-1 ml-5 overflow-hidden text-xs text-gray-300 rounded-lg group bg-gradient-to-br from-cyan-800 to-blue-800"
          >
            <span
              class="uppercase relative px-2 py-1.5 transition-all ease-in duration-75 bg-gray-900 rounded-md hover:bg-black"
            >
              get deal
            </span>
          </button>
        </div>
      </div>
      <!-- card3 -->
      <div class="flex justify-between">
        <div class="flex space-x-5">
          <img
            class="w-12 h-12 object-cover"
            src="/static/img/buds.webp"
            alt=""
          />
          <div class="text-sm m-1">
            <p>JBL Tune Buds</p>

            <p>€69.99 <span class="text-red-500 mx-1">(save €30)</span></p>
          </div>
        </div>
        <div class="">
          <button
            class="relative inline-flex items-center justify-center p-0.5 m-1 ml-5 overflow-hidden text-xs text-gray-300 rounded-lg group bg-gradient-to-br from-cyan-800 to-blue-800"
          >
            <span
              class="uppercase relative px-2 py-1.5 transition-all ease-in duration-75 bg-gray-900 rounded-md hover:bg-black"
            >
              get deal
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
