<div class="h-[26vh] bg-neutral-900 rounded-md bg-opacity-70">
  <div class="flex">
    <div class="m-3 mx-4 space-y-2 w-[87%]">
      <p class="text-xl">Watchlist</p>
      <!-- cards -->

      <div class="flex justify-between capitalize hover:px-1">
        <div class="flex space-x-5">
          <img
            class="w-12 h-12 object-cover"
            src="/static/img/wl1.jpg"
            alt=""
          />
          <div class="text-sm m-1">
            <p>MSI GeForce RTX 4070 Ti Super 16G Ventus</p>

            <p>€899.99 <span class="text-green-900 mx-1"> -12%</span></p>
          </div>
        </div>
        <div class="">
          <button
            type="button"
            class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center m-3"
          >
            <svg
              class="w-2 h-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
            <span class="sr-only">Icon description</span>
          </button>
        </div>
      </div>
      <!-- card2 -->
      <div class="flex justify-between capitalize hover:px-1">
        <div class="flex space-x-5">
          <img
            class="w-12 h-12 object-cover"
            src="/static/img/wl2.jpg"
            alt=""
          />
          <div class="text-sm m-1">
            <p>Krups Machine à café grain, 2 expressos</p>

            <p>€329.99 <span class="text-green-900 mx-1"> -8%</span></p>
          </div>
        </div>
        <div class="">
          <button
            type="button"
            class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center m-3"
          >
            <svg
              class="w-2 h-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
            <span class="sr-only">Icon description</span>
          </button>
        </div>
      </div>
      <!-- card3 -->
      <div class="flex justify-between capitalize hover:px-1">
        <div class="flex space-x-5">
          <img
            class="w-12 h-12 object-cover"
            src="/static/img/wl3.jpg"
            alt=""
          />
          <div class="text-sm m-1">
            <p>Imou 2K Caméra Surveillance WiFi Intérieure</p>

            <p>€17.99 <span class="text-green-900 mx-1"> -3%</span></p>
          </div>
        </div>
        <div class="">
          <button
            type="button"
            class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center m-3"
          >
            <svg
              class="w-2 h-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
            <span class="sr-only">Icon description</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
