<div class="h-[26vh] bg-neutral-900 rounded-md bg-opacity-70">
  <div class="flex">
    <div class="m-3 mx-4 space-y-3 w-[87%]">
      <a href="" class="text-xl hover:text-blue-600">Recent Searches</a>

      <!-- cards -->

      <div
        class="flex justify-between capitalize hover:px-1 hover:bg-opacity-40 rounded-md hover:bg-slate-950"
      >
        <div class="flex space-x-5">
          <div class="text-sm m-1">
            <p>headphones silence mode no cable</p>
            <p>2 august 2024 09:44</p>
          </div>
        </div>
        <div class="">
          <button
            class="relative inline-flex text-gray-200 items-center justify-center p-0.5 m-1 ml-5 overflow-hidden text-xs text-gray-300 rounded-lg group"
          >
            <span
              class="uppercase relative px-2 py-1.5 transition-all ease-in duration-75 bg-neutral-950 rounded-full m-1"
            >
              consult
            </span>
          </button>
        </div>
      </div>
      <!-- card2 -->
      <div
        class="flex justify-between capitalize hover:px-1 hover:bg-opacity-40 rounded-md hover:bg-slate-950"
      >
        <div class="flex space-x-5">
          <div class="text-sm m-1">
            <p>graphic cards nvidia 4080 rtx</p>
            <p>24 july 2024 13:10</p>
          </div>
        </div>
        <div class="">
          <button
            class="relative inline-flex text-gray-200 items-center justify-center p-0.5 m-1 ml-5 overflow-hidden text-xs text-gray-300 rounded-lg group"
          >
            <span
              class="uppercase relative px-2 py-1.5 transition-all ease-in duration-75 bg-neutral-950 rounded-full m-1"
            >
              consult
            </span>
          </button>
        </div>
      </div>
      <!-- card3 -->
      <div
        class="flex justify-between capitalize hover:px-1 hover:bg-opacity-40 rounded-md hover:bg-slate-950"
      >
        <div class="flex space-x-5">
          <div class="text-sm m-1">
            <p>laptop mac apple</p>
            <p>19 july 2024 02:44</p>
          </div>
        </div>
        <div class="">
          <button
            class="relative inline-flex text-gray-200 items-center justify-center p-0.5 m-1 ml-5 overflow-hidden text-xs text-gray-300 rounded-lg group"
          >
            <span
              class="uppercase relative px-2 py-1.5 transition-all ease-in duration-75 bg-neutral-950 rounded-full m-1"
            >
              consult
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
