<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>

    {% block extra_scripts %}{% endblock %}
  </head>
  <!-- min-h-screen in the body class if needed -->
  <body class="relative bg-black">
    <div
      class="fixed inset-0 -z-10 h-full w-full bg-fixed [background:radial-gradient(125%_125%_at_50%_10%,#000_50%,#003d66_100%)] animate-slow-pulse"
    ></div>

    <div class="relative z-0">{% block content %} {% endblock %}</div>
  </body>
</html>
