<div
  class="border-b border-neutral-800 p-2"
  hx-trigger="mouseleave from:body"
  hx-target="#dropdown"
  hx-swap="innerHTML"
  hx-get="/empty-dropdown"
>
  <ul class="w-[70%] flex flex-wrap items-center justify-center gap-8 mx-auto">
    <li>
      <a
        href="#"
        class="block py-2 px-3 text-gray-300 rounded md:hover:text-white md:p-0"
        >Market Data</a
      >
    </li>
    <li>
      <a
        href="#"
        class="block py-2 px-3 text-gray-300 rounded md:hover:text-white md:p-0"
        >Upcoming releases</a
      >
    </li>
  </ul>
</div>
