<div
  id="recent"
  hx-get="/sidenav"
  hx-trigger="click"
  hx-target="#sidenav"
  hx-swap="outerHTML"
  class=""
>
  <div
    id="recent_search"
    class="flex justify-between w-full hover:bg-black px-4 py-2 rounded-xl"
  >
    <div class="flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="w-5 h-5 mr-2 mt-1 text-gray-500 transition duration-75"
        viewBox="0 0 16 16"
        stroke="currentColor"
        stroke-width="0.4"
      >
        <path
          d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"
        />
        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
        <path
          d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"
        />
      </svg>
      <span class="text-lg">Recent Search</span>
    </div>
    <span class="inline-flex ml-10">
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="w-5 h-5 mt-1 mr-[0.20rem] text-gray-500 transition duration-75"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 9-7 7-7-7"
        />
      </svg>
    </span>
  </div>
  <div id="queries" class="flex mt-1 h-[23.6rem] overflow-clip">
    <ul>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        god of war ps5 game
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        nike air max 270
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        apple macbook pro 16 inch
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        sony wh-1000xm4 headphones
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
      <li class="text-md py-1 px-4 hover:bg-black rounded-md">
        lego star wars set
      </li>
    </ul>
  </div>
</div>
