<div id="toggle_sidenav" class="ml-24 py-5 w-full absolute">
  <button
    hx-get="/sidenav"
    hx-trigger="click"
    hx-target="#toggle_sidenav"
    hx-swap="outerHTML"
  >
    <svg
      class="h-8 w-8 text-gray-400"
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#9ca3af"
    >
      <path
        d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm280-80h280v-560H480v560Z"
      />
    </svg>
  </button>
</div>
